@page "/"

<PageTitle>Index</PageTitle>

<style>
    .FONTBRDW {
        color: white;
        font-size: 40px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
</style>

<style>
    .FONTBRDG {
        color: green;
        font-size: 40px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
</style>

<style>
    .FONTBRDR {
        color: red;
        font-size: 40px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
</style>

<PageTitle>Little Nero´s Pizza</PageTitle>

<div>

    <div class="row">

        <div class="col-7 p-3 bg-opacity-10 border border-danger border-start-0 rounded-end" style="text-align:center">
            <h1>
                <font class="FONTBRDR" face="Georgia" color="green"> Lista en 20 minutos </font>
                <br />
                <font class="FONTBRDG" face="Georgia" color="green"> o </font>
                <br />
                <font class="FONTBRDW" face="Georgia"> ¡NO PAGAS! </font>
            </h1>
        </div>

        <div class="col-5">
            <img src="/images/7.gif" class="rounded-2">
        </div>

    </div>

</div>

